@{
    ViewData["Title"] = "About";
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    @*TODO: edit content*@
    <p class="col-md-12">@ViewData["Message"]</p>

    <p class="col-md-12">Use this area to provide additional information.</p>
</div>