@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 lander">
        <h1>Welcome to PSNotes</h1>
        <p>Log in to start</p>
        <div><a class="btn btn-info btn-lg" href="/Account/Login">Login</a></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Course Outline</h2>
        <ul>
            <li><a href="#">Foundational Concepts</a></li>
            <li><a href="#">Working with Azure Monitor</a></li>
            <li><a href="#">Configuring Alerts</a></li>
            <li><a href="#">Exploring Application Behaviors with Azure Application Insights</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Course Resources</h2>
        <ul>
            <li><a href="#">Course Transcript</a></li>
            <li><a href="#">Exercise files</a></li>
            <li><a href="#">Discussion</a></li>
            <li><a href="#">Learning Check</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Other Resources</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/en-au/azure/azure-monitor/overview">Azure Monitor Overview</a></li>
            <li><a href="https://docs.microsoft.com/en-au/azure/application-insights/quick-monitor-portal?toc=/azure/azure-monitor/toc.json">Application Insights Quick Start Guide</a></li>
            <li><a href="https://docs.microsoft.com/en-au/azure/log-analytics/log-analytics-tutorial-viewdata?toc=/azure/azure-monitor/toc.json">Azure Log Analytics Tutorial</a></li>
            <li><a href="https://docs.microsoft.com/en-au/azure/monitoring-and-diagnostics/monitor-tutorial-autoscale-performance-schedule?toc=/azure/azure-monitor/toc.json">Azure Autoscale Tutorial</a></li>
        </ul>
    </div>
</div>
